<div class="panel panel-default panel-md task-box">
    <div class="panel-heading">
        My Tasks
    </div>
    <div class="input-group">
            <input ng-model="newTask.title" placeholder="Add task here..." type="text">
            <button class="btn-input" type="button" ng-click="add()" ng-disabled="!newTask.title">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
    </div>
    <div class="panel-body">
        <div class="form-group tasks-wrap">
            <div class="checkbox" ng-repeat="item in tasks | filter:{'done': filterTasks}">
                <label>
                    <input type="checkbox" ng-model="item.done">{{item.title}}
                </label>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <select class="selectpicker" ng-model="filterTasks">
            <option value="">All</option>
            <option value="false">Incomplete only</option>
            <option value="true">Completed only</option>
        </select>
    </div>
</div>