// Include Bootstrap and FontAwesome
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome.less";

// Main Variables
@main-color: #ffcc00;
@alt-color: #666666;
@bg-color: #ededed;
@inner-color: #d0dce3;
@main-color-text: black;
@alt-color-text: white;

// Secondary Variables
@main-color-light: lighten(@main-color, 35%);
@main-color-dark: darken(@main-color, 10%);

// Font Variables
@font-face {
  font-family: OpenSans;
  src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: BauerBodoni;
  src: url(/fonts/Bauer-Bodoni-Bold-Italic.ttf);
}

@main-font: OpenSans;
@title-font: BauerBodoni;

body {
  font-family: @main-font;
}

// README
// 
// Please add your own styles below this point.
// LESS variables are provided above to help with the task.
// Bootstrap and FontAwesome are also included.
// You can write your styles in LESS or css format. 
// An example of some LESS styles are provided below. Please remove or comment out when adding your own code.

body {
  padding-left: 209px;
}

h1 {
  font-family: @main-font;
  background: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: @font-size-h3;
}

.btn-orange {
  border-color: @main-color;
  display: block;
  margin: 0 auto 20px;
  font-size: @font-size-large;
  &:hover, &:focus, &:active {
    background: @main-color;
    color: @alt-color-text;
    border-color: @main-color;
  }
}
.btn-border{
  border: 1px solid #000;
  color: #000;
}
.btn-dark{
  background: @gray-dark;
}
.btn-box {
  padding: 0 16%;
}

aside {
  background: #fc0 none repeat scroll 0 0;
  height: 100%;
  left: 0;
  padding: 43px 37px 0 13px;
  position: fixed;
  top: 0;
}

.logo {
  margin-left: 24px;
  & img {
    max-width: 135px;
  }
}

.main-menu {
  margin-top: 54px;
  & a {
    color: @main-color-text;
    display: block;
    font-size: 14px;
    margin-bottom: 27px;
  }
  & .fa {
    min-width: 34px;
    font-size: 18px;
  }
}

nav a,
.top-nav a {
  color: @main-color-text;
}

main {
  background: @bg-color;
  padding: 14px 0;
}

.top-nav {
  background: @bg-color;
  padding: 12px 5px;
  & a {
    padding: 0 5px;
    font-size: 16px;
  }
}

.panel-sm {
  min-height: 320px;
}
.panel-md {
  min-height: 425px;
  position: relative;
}

.panel-heading {
  font-size: @font-size-large;
}

.panel-profile .panel-heading {
  background-size: cover;
  height: 192px;
}

.panel-profile .panel-title {
  margin-top: 4px;
  font-size: @font-size-large;
}

.panel-profile-img {
  border-radius: @border-radius-base;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  margin-top: -80px;
  max-width: 100px;
}
.panel-footer {
  background-color: @body-bg;
}

.info-box {
  color: @gray-light;
  & span {
    padding: 0 12px;
  }
}
.task-box .panel-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.notification {
  background: @body-bg;
  display: flex;
  flex-direction: column;
  & .panel-footer {
    padding: 25px 15px;
    & a {
      color: @gray;
    }
  }
}

.nt-item {
  border-bottom: 1px solid #d4dfe5;
  border-top: 1px solid #d4dfe5;
  display: flex;
  flex: 1 1 0;
  & :first-child{
    border-top: 0;
  }
}

.nt-date {
  background: #fcfcfc none repeat scroll 0 0;
  border-right: 4px solid #d4dfe5;
  padding: 25px 0;
  position: relative;
  text-align: center;
  width: 150px;
}

.nt-date:before {
  background: #d4dfe5 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 100%;
  bottom: 0;
  content: "";
  height: 16px;
  margin: auto;
  position: absolute;
  right: -10px;
  top: 0;
  width: 16px;
}

.nt-message {
  margin: auto;
  padding: 0 25px;
  width: 100%;
}

.wrapper-profile {
  max-height: 340px;
  overflow-y: scroll;
}

.profile-item {
  float: left;
  margin-bottom: 5%;
  margin-right: 4%;
  width: 16%;
  border-radius: 4px;
  overflow: hidden;
}

.profile-item > img {
  width: 100%;
}
.calendar .table{
  margin-bottom: 0;
  height: 376px;
}

.table > thead > tr > th {
  width: 125px;
  text-align: center;
  padding: 0;
}

.table > tbody > tr > td {
  text-align: right;
  > .day-number {
    min-height: 40px;

  }
}
.prev-month,
.next-month {
  color: @alt-color;
}