// Include Bootstrap and FontAwesome
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome.less";

// Include derictives
@import "directives/notification.less";
@import "directives/cohort.less";
@import "directives/profile.less";
@import "directives/calendar.less";
@import "directives/taskslist.less";

// Main Variables
@main-color: #ffcc00;
@alt-color: #666666;
@bg-color: #ededed;

@inner-color: #d0dce3;
@main-color-text: black;
@alt-color-text: white;

// Secondary Variables
@main-color-light: lighten(@main-color, 35%);
@main-color-dark: darken(@main-color, 10%);
@panel-bg-dark: #ddd;

// Font Variables
@font-face {
  font-family: OpenSans;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: BauerBodoni;
  src: url(../fonts/Bauer-Bodoni-Bold-Italic.ttf);
}

@main-font: OpenSans;
@title-font: BauerBodoni;

body {
  padding-left: 209px;
  font-family: @main-font;
  background: @bg-color;
}

// README
// 
// Please add your own styles below this point.
// LESS variables are provided above to help with the task.
// Bootstrap and FontAwesome are also included.
// You can write your styles in LESS or css format. 
// An example of some LESS styles are provided below. Please remove or comment out when adding your own code.

h1 {
  font-family: @main-font;
  background: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: @font-size-h3;
}

a {
  color: @main-color-text
}

.btn-border-main {
  border: 2px solid @main-color;
  display: block;
  font-size: @font-size-large;
  max-width: 330px;
  margin: auto;
  color: @main-color-text;
  transition: all 0.25s ease;
  &.mb-20 {
    margin-bottom: 20px;
  }
  &:hover {
    background: @main-color;
    color: @alt-color-text;
    border-color: @main-color;
  }
}

.btn-border {
  border: 1px solid @gray-base;
  color: #000;
}

.btn-dark {
  background: @gray-dark;
}

aside {
  background: @main-color;
  height: 100%;
  left: 0;
  padding: 43px 37px 0 13px;
  position: fixed;
  top: 0;
}

.logo {
  margin-left: 24px;
  & img {
    max-width: 135px;
  }
}

.main-menu {
  margin-top: 54px;
  & a {
    color: @main-color-text;
    display: block;
    font-size: 14px;
    margin-bottom: 27px;
  }
  & .fa {
    min-width: 34px;
    font-size: 18px;
  }
}

main {
  padding: 15px 0;
}

.top-nav {
  background: @bg-color;
  padding: 12px 5px;
  & a {
    padding: 0 5px;
    font-size: 16px;
    text-decoration: none;
  }
}

.panel-sm {
  min-height: 320px;
}

.panel-md {
  min-height: 425px;
  position: relative;
}

.panel-default .panel-heading {
  font-size: @font-size-large;
  background-color: @panel-bg-dark;
}

.panel-footer {
  background-color: @panel-bg;
}